    body {
      font-family: 'Montserrat', sans-serif;

    }
.transparente-card {
  background-color: transparent; 
  border: none; 
  transition: transform 0.2s;
}
h5, p {
  color: white;
}
p{
  font-size: small;
}
img{
  border-radius: 15px;
}
.card{
  padding: 3;
}

.transparente-card:hover {
  transform: scale(1.05); 
}
.card-text{
  font-family: 'Montserrat',sans-serif;
}

    .pagprinc{
        position: relative;
        z-index: 1;
        background: linear-gradient(to top, #000000, #848684,);
        width: 100%;
        height: 100vh;
        border-radius: 15px;
    }
    
    .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: italic;
}
    .carrusel{
        font-family: 'Montserrat', sans-serif;
    }